{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>CalorieTracker.io</title>
    <meta content="CalorieTracker.io - Intelligent Calorie and Weight Tracking" name="description" />
    <meta content="" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- App Icons -->
    <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500|Quattrocento+Sans:400,700"
        rel="stylesheet" />

    <!--Mobirise Icons-->
    <link rel="stylesheet" type="text/css" href="{% static 'landingpage/css/mobirise.css' %}" />

    <!-- Magnific-popup -->
    <link rel="stylesheet" href="{% static 'landingpage/css/magnific-popup.css' %}">

    <!--Material Design Icons-->
    <link rel="stylesheet" type="text/css" href="{% static 'landingpage/css/materialdesignicons.min.css' %}" />

    <!-- Bootstrap core CSS -->
    <link href="{% static 'landingpage/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'landingpage/css/style.css' %}" rel="stylesheet">

</head>

<body data-spy="scroll" data-target="#navbar-example" data-offset="20">

    <!--START NAVBAR-->
    <nav id="navbar-example"
        class="navbar navbar-expand-lg navbar-inverse navbar-toggleable-md fixed-top sticky navbar-custom">
        <div class="container">
            <a class="navbar-brand logo" href="#">
                <span class="logo-text">CALORIETRACKER.IO</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <i class="mdi mdi-menu"></i>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
                <ul class="navbar-nav ml-auto" id="mySidenav">
                    <li class="nav-item">
                        <a href="#home" class="nav-link active">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="#features" class="nav-link">Features</a>
                    </li>
                    <li class="nav-item">
                        <a href="#screenshots" class="nav-link">Screenshots</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a href="#pricing" class="nav-link">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a href="#team" class="nav-link">Team</a>
                    </li> -->
                    <li class="nav-item">
                        <a href="#community" class="nav-link">Community</a>
                    </li>
                    <li class="nav-item">
                        <a href="#contact" class="nav-link">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'analytics' %}" class="nav-link">Log In</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--END NAVBAR-->

    <!--START HOME-->
    <section class="section home" id="home">
        <div class="bg-overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2 text-white text-center">
                    <h1 class="home-title">An Intelligent Fitness and Calorie Tracking Assistant</h1>
                    <p class="mt-4 home-subtitle">No more cookie-cutter formulas. CalorieTracker.io adapts
                        it's algorithms to your personal progress every day to deliver next-level
                        individualized insights and recommendations.</p>
                    <a href="{% url 'analytics' %}" class="btn btn-custom mt-4 mb-4">Try It Now</a>

                    <img src="{% static "landingpage/images/showcasefull.png" %}" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </section>
    <!--END HOME-->

    <!--START FEATURES-->
    <section class="section" id="features">
        <div class="container">

            <div class="row">
                <div class="col-12">
                    <div class="text-center">
                        <h3>Features</h3>
                        <p class="text-muted slogan"></p>
                    </div>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-4 services-box">
                    <div class="text-center p-3">
                        <i class="mbri-gift text-custom"></i>
                        <h5 class="pt-4">Stop Guessing - Start Progressing</h5>
                        <p class="text-gray pt-2"> People's habits and lifestyles can change - and CalorieTracker.io
                            understands that. Our models adjust themselves daily to your habits and data to keep you on
                            top of it all.</p>
                    </div>
                </div>

                <div class="col-md-4 services-box">
                    <div class="text-center p-3">
                        <i class="mbri-growing-chart text-custom"></i>
                        <h5 class="pt-4">Visualize Progress</h5>
                        <p class="text-gray pt-2"> We strive to display your progress in an
                            intuitive, comprehensible manner. See your overall progress
                            from your personalized analytics dashboard.</p>
                    </div>
                </div>

                <div class="col-md-4 services-box">
                    <div class="text-center p-3">
                        <i class="mbri-lock text-custom"></i>
                        <h5 class="pt-4">Log Everything</h5>
                        <p class="text-gray pt-2"> From caloric intake to weight, progress pictures and
                            more. CalorieTracker.io is constantly expanding to provide a secure, all-in-one space to
                            document your full fitness journey.</p>
                    </div>
                </div>

                <div class="col-md-4 services-box">
                    <div class="text-center p-3">
                        <i class="mbri-idea text-custom "></i>
                        <h5 class="pt-4">Generate Insights</h5>
                        <p class="text-gray pt-2"> Breakdown your patterns numerically and visually. Find out where
                            you're on track and where you can improve to get to your goals faster.</p>
                    </div>
                </div>

                <div class="col-md-4 services-box">
                    <div class="text-center p-3">
                        <i class="mbri-responsive text-custom"></i>
                        <h5 class="pt-4">Any Time, Any Place</h5>
                        <p class="text-gray pt-2"> Update your data and access your insights at your convenience.
                            CalorieTracker.io is crossplatform and works on mobile, desktop and tablet.</p>
                    </div>
                </div>

                <div class="col-md-4 services-box">
                    <div class="text-center p-3">
                        <i class="mbri-upload text-custom "></i>
                        <h5 class="pt-4">Integrations</h5>
                        <p class="text-gray pt-2"> Already use another tracking system? Import or sync your
                            CalorieTracker.io account with services like MyFitnessPal or your personal CSV with the
                            click of a button.</p>
                    </div>
                </div>

            </div>

        </div>
    </section>
    <!--END FEATURES-->

    <!--START SCREENSHOTS-->
    <section class="section bg-grey" id="screenshots">
        <div class="container">

            <div class="row">
                <div class="col-12">
                    <div class="text-center">
                        <h3>Screenshots</h3>
                        <p class="text-muted slogan"></p>
                    </div>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-sm-4">
                    <a href="{% static "landingpage/images/screenshots/1.png" %}" class="thumb preview-thumb image-popup"
                        title="Analytics Overview">
                        <img src="{% static "landingpage/images/screenshots/1.png" %}" class="thumb-img" alt="work-thumbnail">
                    </a>
                </div>
                <div class="col-sm-4">
                    <a href="{% static "landingpage/images/screenshots/2.png" %}" class="thumb preview-thumb image-popup"
                        title="Analytics Overview">
                        <img src="{% static "landingpage/images/screenshots/2.png" %}" class="thumb-img" alt="work-thumbnail">
                    </a>
                </div>
                <div class="col-sm-4">
                    <a href="{% static "landingpage/images/screenshots/3.png" %}" class="thumb preview-thumb image-popup"
                        title="Analytics Overview">
                        <img src="{% static "landingpage/images/screenshots/3.png" %}" class="thumb-img" alt="work-thumbnail">
                    </a>
                </div>
            </div>

            <!-- <div class="row">
                <div class="col-sm-4">
                    <a href="{% static "landingpage/images/screenshots/4.png" %}" class="thumb preview-thumb image-popup"
                        title="Analytics Overview">
                        <img src="{% static "landingpage/images/screenshots/4.png" %}" class="thumb-img" alt="work-thumbnail">
                    </a>
                </div>
                <div class="col-sm-4">
                    <a href="{% static "landingpage/images/screenshots/5.png" %}" class="thumb preview-thumb image-popup"
                        title="Analytics Overview">
                        <img src="{% static "landingpage/images/screenshots/5.png" %}" class="thumb-img" alt="work-thumbnail">
                    </a>
                </div>
                <div class="col-sm-4">
                    <a href="{% static "landingpage/images/screenshots/6.png" %}" class="thumb preview-thumb image-popup"
                        title="Analytics Overview">
                        <img src="{% static "landingpage/images/screenshots/6.png" %}" class="thumb-img" alt="work-thumbnail">
                    </a>
                </div>
            </div> -->

        </div>
    </section>
    <!--END SCREENSHOTS-->

    <!--START PRICING-->
    <!--
    <section class="section" id="pricing">
        <div class="container">

            <div class="row">
                <div class="col-12">
                    <div class="text-center">
                        <h3>Simple Pricing</h3>
                        <p class="text-muted slogan">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
                            posuere cubilia Curae. Vivamus eu sollicitudin lacus, nec ultricies lorem.</p>
                    </div>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-sm-4">
                    <div class="card plan-card text-center">
                        <div class="card-body">
                            <div class="pt-3 pb-3">
                                <h1><i class="ion-trophy plan-icon bg-dark"></i></h1>
                                <h6 class="text-uppercase text-dark">Single License</h6>
                            </div>
                            <div>
                                <h1 class="plan-price">$25<sup class="text-muted">Per License</sup></h1>
                                <div class="plan-div-border"></div>
                            </div>
                            <div class="plan-features pb-3 mt-3 text-muted padding-t-b-30">
                                <p>Free Live Support</p>
                                <p>Unlimited User</p>
                                <p>No Time Tracking</p>
                                <p>Free Setup</p>
                                <a href="#" class="btn btn-custom">Sign Up Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card plan-card text-center">
                        <div class="card-body">
                            <div class="pt-3 pb-3">
                                <h1><i class="ion-trophy plan-icon bg-dark"></i></h1>
                                <h6 class="text-uppercase text-dark">Multiple License</h6>
                            </div>
                            <div>
                                <h1 class="plan-price">$99<sup class="text-muted">Per License</sup></h1>
                                <div class="plan-div-border"></div>
                            </div>
                            <div class="plan-features pb-3 mt-3 text-muted padding-t-b-30">
                                <p>Free Live Support</p>
                                <p>Unlimited User</p>
                                <p>No Time Tracking</p>
                                <p>Free Setup</p>
                                <a href="#" class="btn btn-custom">Sign Up Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card plan-card text-center">
                        <div class="card-body">
                            <div class="pt-3 pb-3">
                                <h1><i class="ion-trophy plan-icon bg-dark"></i></h1>
                                <h6 class="text-uppercase text-dark">Extended License</h6>
                            </div>
                            <div>
                                <h1 class="plan-price">$799<sup class="text-muted">Per License</sup></h1>
                                <div class="plan-div-border"></div>
                            </div>
                            <div class="plan-features pb-3 mt-3 text-muted padding-t-b-30">
                                <p>Free Live Support</p>
                                <p>Unlimited User</p>
                                <p>No Time Tracking</p>
                                <p>Free Setup</p>
                                <a href="#" class="btn btn-custom">Sign Up Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>-->
    <!--END PRICING-->

    <!--START TRY IT FREE-->
    <section class="section bg-custom">
        <div class="container">

            <div class="row">
                <div class="col-12">
                    <div class="text-center">
                        <h3 class="text-white">Get started now. No email required.</h3>
                        <br />
                        <a href="{% url 'analytics' %}" class="btn btn-custom active">Sign Up Now</a>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!--END TRY IT FREE-->

    <!--START TEAM-->
    <!--<section class="section" id="team">
        <div class="container">

            <div class="row">
                <div class="col-12">
                    <div class="text-center">
                        <h3>Our Team</h3>
                        <p class="text-muted slogan">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
                            posuere cubilia Curae. Vivamus eu sollicitudin lacus, nec ultricies lorem.</p>
                    </div>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-3 col-sm-6">
                    <div class="team-box text-center">
                        <div class="team-wrapper">
                            <div class="team-member">
                                <img alt="" src="images/team/img-1.jpg" alt="" class="img-fluid rounded">
                            </div>
                        </div>
                        <h4 class="team-name text-uppercase">Michael Adkins</h4>
                        <p class="text-uppercase team-designation">Founder</p>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="team-box text-center">
                        <div class="team-wrapper">
                            <div class="team-member">
                                <img alt="" src="images/team/img-2.jpg" alt="" class="img-fluid rounded">
                            </div>
                        </div>
                        <h4 class="team-name text-uppercase">Mary Robinson</h4>
                        <p class="text-uppercase team-designation">Co-founder</p>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="team-box text-center">
                        <div class="team-wrapper">
                            <div class="team-member">
                                <img alt="" src="images/team/img-3.jpg" alt="" class="img-fluid rounded">
                            </div>
                        </div>
                        <h4 class="team-name text-uppercase">Donald Hanson</h4>
                        <p class="text-uppercase team-designation">designer</p>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="team-box text-center">
                        <div class="team-wrapper">
                            <div class="team-member">
                                <img alt="" src="images/team/img-4.jpg" alt="" class="img-fluid rounded">
                            </div>
                        </div>
                        <h4 class="team-name text-uppercase">Melba Brown</h4>
                        <p class="text-uppercase team-designation">Manager</p>
                    </div>
                </div>

            </div>

        </div>
    </section> -->
    <!--END TEAM-->

    <!--START TESTIMONIALS-->
    <section class="section bg-grey text-center">
        <div class="container">
            <div class="row">
                <div class="col-12">

                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <!-- <li data-target="#carouselExampleIndicators" data-slide-to="2"></li> -->
                        </ol>
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active">
                                <blockquote>
                                    <div class="row">
                                        <div class="col-md-8 offset-md-2">
                                            <div class="testimonial-box">
                                                <div class="mb-4">
                                                    <i class="mdi mdi-format-quote-open quote-icon"></i>
                                                </div>
                                                <h6 class="testimonial-team-desc mb-4">Congrats on the whole project,
                                                    it's being really useful! I just input the calories manually
                                                    everyday, and the Analytics are on point, everything working
                                                    perfectly.
                                                </h6>

                                                <p class="testmonial-team-name">RGFX</p>
                                                <p class="testmonial-team-designation">Beta-tester</p>
                                            </div>
                                        </div>
                                    </div>
                                </blockquote>
                            </div>
                            <div class="carousel-item">
                                <blockquote>
                                    <div class="row">
                                        <div class="col-md-8 offset-md-2">
                                            <div class="testimonial-box">
                                                <div class="mb-4">
                                                    <i class="mdi mdi-format-quote-open quote-icon"></i>
                                                </div>
                                                <h6 class="testimonial-team-desc mb-4">When our doctor told my dad that
                                                    he had to choose between losing weight and risking diabetes and
                                                    heart issues, we both knew it was time to get serious. In 4
                                                    months my dad went from prediabetic, obese and sedentary to an
                                                    energetic, active and heatlhy super-star patient! He attributes so
                                                    much of his sucess to calorietracker.io and showed his profile to
                                                    our doctor every visit along the journey.
                                                </h6>

                                                <p class="testmonial-team-name">Anonymous</p>
                                                <p class="testmonial-team-designation">Beta-tester</p>
                                            </div>
                                        </div>
                                    </div>
                                </blockquote>
                            </div>
                            <!-- <div class="carousel-item">
                                <blockquote>
                                    <div class="row">
                                        <div class="col-md-8 offset-md-2">
                                            <div class="testimonial-box">
                                                <div class="mb-4">
                                                    <i class="mdi mdi-format-quote-open quote-icon"></i>
                                                </div>
                                                <h6 class="testimonial-team-desc mb-4">Lorem ipsum dolor sit amet,
                                                    consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                                                    esse cillum dolore eu fugiat nulla pariatur.</h6>

                                                <p class="testmonial-team-name">Albert Adorson</p>
                                                <p class="testmonial-team-designation">CEO, Pic.com</p>
                                            </div>
                                        </div>
                                    </div>
                                </blockquote>
                            </div> -->
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!--END TESTIMONIALS-->

    <section class="section bg-white" id="community">
        <div class="container">

            <div class="row">
                <div class="col-12">
                    <div class="text-center">
                        <h3>Join the Community</h3>
                        <p class="text-muted slogan">Join the conversation in Discord & check us out on social media!</p>
                    </div>
                </div>
            </div>

            <div class="row mt-4 justify-content-center">
                <div class="col-md-2 services-box">
                    <div class="text-center p-3">
                        <a href="https://discord.com/invite/jUhASAM"><i class="mdi mdi-discord text-custom"></i></a>
                        <h5 class="pt-4">Discord</h5>
                        <p class="text-gray pt-2"></p>
                    </div>
                </div>
                <div class="col-md-2 services-box">
                    <div class="text-center p-3">
                        <a href="https://www.facebook.com/calorietracker.io/"><i class="mdi mdi-facebook text-custom"></i></a>
                        <h5 class="pt-4">Facebook</h5>
                        <p class="text-gray pt-2"></p>
                    </div>
                </div>
                <div class="col-md-2 services-box">
                    <div class="text-center p-3">
                        <a href="https://www.instagram.com/calorietracker.io/"><i class="mdi mdi-instagram text-custom"></i><a>
                        <h5 class="pt-4">Instagram</h5>
                        <p class="text-gray pt-2"></p>
                    </div>
                </div>
                <div class="col-md-2 services-box">
                    <div class="text-center p-3">
                        <a href="https://www.reddit.com/r/calorietrackerio/"><i class="mdi mdi-reddit text-custom"></i></a>
                        <h5 class="pt-4">Reddit</h5>
                        <p class="text-gray pt-2"></p>
                    </div>
                </div>
                <div class="col-md-2 services-box">
                    <div class="text-center p-3">
                        <a href="https://twitter.com/calorietracker_"><i class="mdi mdi-twitter text-custom"></i></a>
                        <h5 class="pt-4">Twitter</h5>
                        <p class="text-gray pt-2"></p>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!--Form Section-->
    <section class="section bg-grey" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="text-center">
                        <h3>Get In Touch</h3>
                        <p class="text-muted slogan">Questions, comments, feedback? Just want to connect? We'd love to
                            hear from you. </p>
                    </div>
                </div>
            </div>

            <br />

            <form class="">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="username">Name</label>
                            <input type="text" class="form-control" id="username" required />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="useremail">Email address</label>
                            <input type="email" class="form-control" id="useremail" required />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="subject">Subject</label>
                            <input type="text" class="form-control" id="subject" required />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="message">Message</label>
                            <textarea class="form-control" rows="5" id="message"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 text-right">
                        <button type="submit" class="btn btn-custom">Send Message</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <!--END FORM-->

    <!--start footer-->
    <footer class="footer bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="float-right pull-none">
                        <ul class="list-inline social">
                            <li class="list-inline-item"><a href="https://discord.com/invite/jUhASAM"><i
                                        class="mdi mdi-discord"></i></a></li>
                            <li class="list-inline-item"><a href="https://www.facebook.com/calorietracker.io/"><i
                                        class="mdi mdi-facebook"></i></a></li>
                            <li class="list-inline-item"><a href="https://www.instagram.com/calorietracker.io/"><i
                                        class="mdi mdi-instagram"></i></a></li>
                            <li class="list-inline-item"><a href="https://www.reddit.com/r/calorietrackerio/"><i
                                        class="mdi mdi-reddit"></i></a></li>

                        </ul>
                    </div>
                    <div class="pull-none">
                        <p class="copy-rights"> © CalorieTracker.io 2020 All Rights Reserved.</p>
                        <p><a href="{% url 'privacy-policy' %}" style="text-decoration: none;color: #808080;font-size:10px">Privacy Policy <a></br>
                        <a href="{% url 'terms-and-conditions' %}" style="text-decoration: none;color: #808080;font-size:10px">Terms and Conditions <a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--END FOOTER-->

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="{% static "landingpage/js/jquery.min.js" %}"></script>
    <script src="{% static "landingpage/js/bootstrap.bundle.min.js" %}"></script>

    <!-- Sticky Header -->
    <script src="{% static "landingpage/js/jquery.sticky.js" %}"></script>

    <!-- Jquery easing -->
    <script src="{% static "landingpage/js/jquery.easing.min.js" %}"></script>
    <script src="{% static "landingpage/js/jquery.magnific-popup.min.js" %}"></script>

    <!--common script for all pages-->
    <script src="{% static "landingpage/js/jquery.app.js" %}"></script>
</body>

</html>
